# gradle

.gradle/
build/
out/
classes/

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/
/target/

*.launch
logs/
libs/modmenu-2.0.2.jar
libs/modmenu-2.0.4.jar
run-client/
CurseForge/
/run-server/
/src/main/generated/.cache/
